apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "maroctour.fullname" . }}-web
  labels:
    app: {{ include "maroctour.name" . }}-web
    {{- include "maroctour.labels" . | nindent 4 }}
spec:
  {{- if not .Values.web.autoscaling.enabled }}
  replicas: {{ .Values.web.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      app: {{ include "maroctour.name" . }}-web
  template:
    metadata:
      labels:
        app: {{ include "maroctour.name" . }}-web
    spec:
      containers:
      - name: web
        image: "{{ .Values.web.image.repository }}:{{ .Values.web.image.tag }}"
        imagePullPolicy: {{ .Values.web.image.pullPolicy }}
        ports:
        - name: http
          containerPort: {{ .Values.web.service.port }}
          protocol: TCP
        env:
        {{- toYaml .Values.web.env | nindent 8 }}
        livenessProbe:
          httpGet:
            path: /api/health
            port: http
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /api/health
            port: http
          initialDelaySeconds: 10
          periodSeconds: 5
        resources:
          {{- toYaml .Values.web.resources | nindent 10 }}

