name: CD - Deploy to Kubernetes

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > $HOME/.kube/config

      - name: Update image tags
        run: |
          sed -i "s|IMAGE_BACKEND|${{ secrets.DOCKERHUB_USERNAME }}/maroctour-backend:${{ github.sha }}|g" k8s/backend-deployment.yaml
          sed -i "s|IMAGE_FRONTEND|${{ secrets.DOCKERHUB_USERNAME }}/maroctour-frontend:${{ github.sha }}|g" k8s/frontend-deployment.yaml

      - name: Apply Kubernetes manifests
        run: |
          kubectl apply -f k8s/configmap.yaml
          kubectl apply -f k8s/secret.yaml
          kubectl apply -f k8s/postgres-deployment.yaml
          kubectl apply -f k8s/postgres-service.yaml
          kubectl apply -f k8s/backend-deployment.yaml
          kubectl apply -f k8s/backend-service.yaml
          kubectl apply -f k8s/frontend-deployment.yaml
          kubectl apply -f k8s/frontend-service.yaml

      - name: Check rollout
        run: |
          kubectl rollout status deployment/backend-deployment
          kubectl rollout status deployment/frontend-deployment
